<!-- 장비관리 -->
{% extends "app/base_site.html" %}

{% block title %} Morris JS {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>장비 정보 등록</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form class="form-horizontal form-label-left" method="post" action="/device_register/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-1 control-label">장비 주소</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="eq_ip" id="eq_ip">
                            </div>
                            <label class="col-sm-1 control-label">장비 명</label>
                            <div class="col-sm-3">
                                <div class="btn-group">
                                    <select class="form-control" style="width: 158px" name="name" id="name">
                                        <option> </option>
                                        <option> </option>
                                        <option> </option>
                                        <option> </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                            </div>
                            <label class="col-sm-1 control-label">벤더 / 모델</label>
                            <div class="col-sm-3">
                                <div class="btn-group">
                                    <select class="form-control" style="width: 158px" name="vendor" id="vendor">
                                        <option>벤더</option>
                                        <option> </option>
                                        <option> </option>
                                        <option> </option>
                                    </select>
                                </div>
                                <div class="btn-group">
                                    <select class="form-control" style="width: 158px" name="model" id="model">
                                        <option>모델</option>
                                        <option> </option>
                                        <option> </option>
                                        <option> </option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label">담당 / 팀</label>
                            <div class="col-sm-3">
                                <div class="btn-group">
                                    <select class="form-control" style="width: 158px" name="manage" id="manage">
                                        <option>담당</option>
                                        <option> </option>
                                        <option> </option>
                                        <option> </option>
                                    </select>
                                </div>
                                <div class="btn-group">
                                    <select class="form-control" style="width: 158px" name="team" id="team">
                                        <option>팀</option>
                                        <option> </option>
                                        <option> </option>
                                        <option> </option>
                                    </select>

                                </div>
                           
                            </div>
                            <div class="form-group">
                            </div>
                            <label class="col-sm-1 control-label">장비 설명</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="descr" id="descr">
                            </div>
                            <label class="col-sm-1 control-label">장비 위치</label>
                            <div class="col-sm-3">
                                <select class="form-control" style="width: 158px" name="location" id="location">
                                    <option>선택</option>
                                    <option> </option>
                                    <option> </option>
                                    <option> </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default middle" style="float: right;">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>SNMP 정보</h2>
                <ul class="nav navbar-right panel_toolbox">
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form class="form-horizontal form-label-left" method="post" action="/device_register/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">장비 주소</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width: 158px" name="eq_ip" id="eq_ip">
                        </div>
                        <label class="col-sm-1 control-label">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SNMP
                            수집여부</label>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <select class="form-control" style="width: 158px">
                                    <option>수집 여부</option>
                                    <option>예</option>
                                    <option>아니요</option>
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-1 control-label">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SNMP
                            버전정보</label>
                        <div class="col-sm-3">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Version 1
                            &nbsp&nbsp
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Version 2
                            &nbsp&nbsp
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Version 3
                        </div>
                        <div class="form-group">
                        </div>
                        <label class="col-sm-1 control-label">SNMP Read Community</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width: 158px" name="read_community" id="read_community">
                        </div>
                        <label class="col-sm-1 control-label">SNMP Write Community</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width: 158px" name="write_community" id="write_community"> 
                        </div>
                        <div class="form-group">
                        </div>
                        <label class="col-sm-1 control-label">&nbsp&nbsp SNMP 폴링 포트번호</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width: 158px" name="snmp_port" id="snmp_port">
                        </div>


                        <label class="col-sm-1 control-label">&nbsp&nbsp SNMP Trap 포트번호</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width: 158px" name="snmptrap_port" id="snmptrap_port">
                        </div>
                        <div class="form-group">
                        </div>
                        <label class="col-sm-1 control-label">장비명</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" style="width: 158px">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-default">자동</button>
                        </div>
                        <div class="form-group">
                        </div>

                        <label class="col-sm-1 control-label">장비 설명</label>
                        <div class="col-sm-1">
                            <!-- <input type="text" class="form-control" aria-rowindex="30px">           -->
                            <textarea cols="50" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                        </div>

                        <button type="submit" class="btn btn-default middle" style="float: right;">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
    </div>
</div>













{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- morris.js -->
<script src="/static/vendors/raphael/raphael.min.js"></script>
<script src="/static/vendors/morris.js/morris.min.js"></script>
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
{% endblock javascripts %}