<div class="left_col scroll-view">
  <!-- <div class="col-md-3 left_col"> -->
  <div class="navbar nav_title" style="border: 0;">
    <a href="/index" class="site_title"> <span>SmartFactory NMS</span></a>
      </div>
  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    
    <div class="profile_pic">
      <img src="/static/images/img1.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {% if request.session.user_id %}<h2>{{ request.session.user_id }}</h2>{% endif %}
      </a>
    
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/dashboard"><i class="fa fa-home"></i> 대시보드</a>
        </li>
        <li><a href="/user/"><i class="fa fa-edit"></i> 사용자 관리 </a>
          <ul class="nav child_menu">
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> 시스템 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/vendor_model/">Vendor / Model 관리</a></li>
            <li><a href="/team/">담당/팀 관리</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-table"></i> 구성 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/device/">장비관리</a></li>
            <li><a href="/interface/">인터페이스 관리</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart-o"></i> 분석 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/device_performance/">장비 성능 관리</a></li>
            <li><a href="/traffic/">Traffic 이력</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clone"></i>장애리스트 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/cur_faults/">현재 장애</a></li>
            <li><a href="/faults_history/">장애 이력</a></li>
            <li><a href="/critical/">임계치</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
